
.flex{
    height:100vh;
    width:100vw;
    display: flex;
     padding-left: 50px;
    padding-top: 20px;
}
.inp{
    padding: 20px;
}
.mainheader{
    background-color: blue;
    color: white;
}
.header
{
display: flex;

}

#textarea{
    margin-top:30px ;
    height:300px;
    width:150%;
}